*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* MACROSTRUTTURA */
.container{
position: relative;
}

.header {
    height: 170px;
    background-color: #009688;
}

.sfondo {
    height: calc(100vh - 170px);
    background-color: #DCDBD1;
}

.whatsapp {
    min-width: 1000px;
    min-height: 600px;
    margin: 40px auto;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

aside {
    width: 35%;
    min-height: 600px;
    /* background-color: yellow; */
    display: inline-block;
}

main {
    width: 65%;
    min-height: 600px;
    background-image: url(../img/sfondo.png);
    float: right;

}


/* ASIDE */

/* sezione profilo personale */
.profiloPersonale {
    height: 60px;
    background-color: #EAEAEA;  
}

.profilo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-lato-destro {
    display: flex; 
    align-items: center;
}

.container-img-profilo{
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 3px;
}

.container-img-profilo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.name-Profilo {
    font-size: 15px;
}

.container-icons {
    margin-right: 5px;
}



.container-icons .fa-solid {
    padding: 6px;
    cursor: pointer;
    color: #B1B1B1;
}


/* barra notifica */
.notification {
    height: 70px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.icona-notifica {
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.fa-bell-slash {
    color: #8EDAFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.notification span {
    font-size: 12px;
    
}

.notification a {
    color: grey;
}


/* barra di ricerca */

.barra-di-ricerca {
    display: flex;
    padding: 10px;
    background-color: #FAFAFA;
    height: 50px;
}

.lens {
    border: 1px solid lightgray;
    width: 20%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.fa-magnifying-glass {
    color: grey;
   
}

.search input{
    padding: 5px;
    min-width: 265px;
    
}


/* lista contatti */

.lista-contatti {
    overflow-y: scroll;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    
}

.container-profile{
    display: flex;
    cursor: pointer;
}

.container-profile:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.profilo-lista-contatti{
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    /* background-color: blue; */
    border-radius: 50%;
    
}

.profilo-lista-contatti img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.container-profile span:first-child{
    margin-top: 10px;
}

.ultimo-mex {
    display: flex;
    flex-direction: column;
}


/* SEZIONE CHAT */
/* barra profilo contatto chat attiva */

.container-chat {
    height: 600px;
}

.barra-profilo-chat-attiva {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #EAEAEA;
    border-left: 1px solid grey;
}

.container-foto-name-date {
    display: flex;
    
}

.container-icon-barra {
    margin-right: 5px;
}

.container-foto-name-date .ultimo-mex{
    justify-content: center;
    margin-left: 10px;
}

.ultimo-accesso {
    font-size: 12px;
    color: grey;
}

/* sezione chat */


.messaggi {
    overflow-y:scroll;
    height: 470px
}


/* sezione barra di scrittura */
.barra-text{
    height: 70px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barra-text input{
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}

.barra-text i{
    font-size: 20px;
    color: #697275;
    cursor: pointer;
}